<html xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <title>
    </title>
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/jquery-confirm.css') }}" rel="stylesheet">

    <style type="text/css">

        /*Zoom.Quiet
            + 100913 fixed base old index.html*/
        body {
            background: #272822;
            font-family: helvetica, arial, verdana, sans-serif;
            font-size: 14px;
            color: #fefefe;
        }

        img {
            border: 0;
        }

        hr {
            width: 50%;
            height: 2px;
            background: #333;
            border: 1px solid #aaa;
            clear: both;
            margin-left: 25%;
            float: left;
        }

        #main {
            font-size: 200%;
        }


    </style>
    <script type="text/javascript" src="{{ static_url('js/jquery-2.2.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/jquery.sticky.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/jquery-confirm.js') }}"></script>


    <script type="text/javascript">
        window.onload = (function () {
            $(window).resize(function () {

                $('.vertical-container').css({
                    position: 'absolute',
                    left: ($(window).width()
                    - $('.vertical-container').outerWidth()) / 2,
                    top: ($(window).height()
                    - $('.vertical-container').outerHeight()) / 2
                });

            });

            $(window).resize();
            $(window).resize();
        });

        $('#node2').css("cursor", "pointer");

    </script>
</head>

<body>


<div id="contain" class="vertical-container">
    <!-- CONTENT -->
    <img src="{{ static_url('img/eli.png') }}" usemap="#elimap" alt="elimap" id="mymap">
    <map id="elimap" name="elimap">
<area shape="rect" id="node1" href="https://github.com/Ayi-/tornado_blog" title="Eli 资源图谱\n淡泊以明志，宁静以致远\n" alt="" coords="33,61,198,93"/>
<area shape="rect" id="node3" href="/1" title="&lt;TABLE&gt;" alt="" coords="5,247,225,352"/>
<area shape="rect" id="node4" href="/1" title="个人主页" alt="" coords="397,9,479,38"/>
<area shape="rect" id="node5" href="https://github.com/Ayi-" title="GitHub" alt="" coords="402,62,474,91"/>
<area shape="rect" id="node8" href="http://scw.worldoftanks.cn/zh-cn/community/accounts/1809413692-AyEi/" title="坦克世界" alt="" coords="397,115,479,145"/>
<area shape="rect" id="node9" href="http://luoqi.tiancity.com/" title="Mabinogi" alt="" coords="395,169,481,198"/>
<area shape="rect" id="node10" href="https://zh.wikipedia.org/wiki/%E5%88%9D%E9%9F%B3%E6%9C%AA%E4%BE%86" title="Miku" alt="" coords="402,222,474,251"/>
<area shape="rect" id="node12" href="http://weekly.pychina.org/" title="PythonWeekly" alt="" coords="612,169,731,198"/>
<area shape="rect" id="node13" href="https://www.djangoproject.com/" title="djangoproject" alt="" coords="608,222,735,251"/>
<area shape="rect" id="node14" href="http://flask.pocoo.org/" title="flask" alt="" coords="635,275,707,305"/>
<area shape="rect" id="node19" href="http://dmgeek.com/" title="盗梦极客VR" alt="" coords="623,382,720,411"/>
<area shape="rect" id="node25" href="http://music.163.com/#/user/home?id=55310453" title="网易云音乐" alt="" coords="389,515,487,545"/>
<area shape="rect" id="node26" href="http://www.zhihu.com/" title="知乎" alt="" coords="402,569,474,598"/>
<area shape="rect" id="node27" href="http://stackoverflow.com/" title="stackoverflow" alt="" coords="375,622,501,651"/>
<area shape="rect" id="node28" href="https://segmentfault.com/" title="segmentfault" alt="" coords="379,675,497,705"/>
<area shape="rect" id="node22" href="http://www.acfun.tv/" title="Acfun" alt="" coords="635,435,707,465"/>
<area shape="rect" id="node23" href="http://www.bilibili.com/" title="BiliBili" alt="" coords="628,489,715,518"/>
<area shape="rect" id="node24" href="http://bbs.ngacn.cc/" title="NGA" alt="" coords="635,542,707,571"/>
    </map>

</div>

<script type="text/javascript">

    $("#node2").click(function () {

        $.confirm({
            title: false,
            columnClass: 'col-md-6 col-md-offset-3',
            backgroundDismiss: true,
            keyboardEnabled: true,
            confirmButton: '',
            confirmButton: false, // hides the confirm button.
            cancelButton: 'Close',
            closeIcon: true, // hides the close icon.
            content: '<div style="text-align:center">'
            + '</br>'
            + '<img src="{{ static_url('img/miku.jpg') }}" style="height:128px;width:128px;border-radius:50%">'
            + '</br>'
            + '<h4>Eli</h4>'
            + '<div>小有追求的Pythonista</div>'
            + '<p>'
            + '<div>半个程序猿 | ω・´)</div>'
            + '<div>(ゝ∀･)专注Python,Android...</div>'
            + '<div>喜欢初音ミク，游戏，动画，（和交流吧？(´∀((☆ミつ）)</div>'

            + '</p><p>欢迎联系~'
            + '<div>邮箱：<a href="mailto:eli.pyer@gmail.com">eli.pyer@gmail.com</a></div>'
            + '<div>我的主页：<a href="http://www.aiiyi.top">http://www.aiiyi.top</a></div>'

            + '<div>GitHub：<a href="https://github.com/Ayi-">https://github.com/Ayi-</a></div>'
            + '</p>'
            + '</div>'
        });
    });
</script>
</body>
</html>
